.feedbackBtnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.feedbackBtn {
  border: 1px solid #000000;
  // background: rgb(1, 121, 11);
  padding: 14px 40px;
  font-size: 18px;
  font-family: inherit;
  line-height: 1.333;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.5s;
  overflow: hidden;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.feedbackBtn:first-child {
  background: rgb(117, 228, 126);
}
.feedbackBtn:first-child:hover {
  background: rgb(0, 90, 8);
}
.feedbackBtn:nth-child(2) {
  background: rgb(221, 197, 91);
}
.feedbackBtn:nth-child(2):hover {
  background: rgb(214, 200, 2);
}
.feedbackBtn:last-child {
  background: rgb(201, 62, 57);
}
.feedbackBtn:last-child:hover {
  background: rgb(112, 6, 2);
}
.feedbackBtn:hover {
  background-color: rgb(6, 111, 182);
  color: white;
}
